@model QuanLyNhanSu.Models.ChiTietLuong

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ChiTietLuong</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Luong.MaNhanVien)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Luong.MaNhanVien)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LuongCoBan)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LuongCoBan)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BHXH)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BHXH)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BHYT)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BHYT)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BHTN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BHTN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhuCap)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhuCap)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ThueThuNhap)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ThueThuNhap)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TienThuong)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TienThuong)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TienPhat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TienPhat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NgayNhanLuong)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NgayNhanLuong)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TongTienLuong)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TongTienLuong)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
