@model IEnumerable<QuanLyNhanSu.Models.ChiTietLuong>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Luong.MaNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LuongCoBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BHXH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BHYT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BHTN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhuCap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThueThuNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienThuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienPhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhanLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTienLuong)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Luong.MaNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuongCoBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BHXH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BHYT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BHTN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThueThuNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienThuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienPhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhanLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTienLuong)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
