@model IEnumerable<QuanLyNhanSu.Models.KyLuat>

@{
    ViewBag.Title = "Kỷ luật nhân viên";
}

<div class="">
    <div class="">
        <h1 class="page-header">
            Kỷ luật nhân viên
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="@Url.Action("index","Admin")">Tổng quan</a>
            </li>
            <li>
                <i class="fa fa-exclamation-circle"></i> Kỷ luật
            </li>
        </ol>
    </div>
</div>


<div style="margin:10px">

    <a class="btn btn-primary" href="@Url.Action("Create", "KyLuat")"> Kỷ luật </a>
</div>

<table id="table-taikhoan" class="table table-responsive table-bordered table-striped">
    <thead>
        <tr class="success">
            <th>
                Mã Nhân viên
            </th>
            <th>
                Tháng kỷ luật
            </th>
            <th>
                Lý do
            </th>
            <th>
                Tiền kỷ luật
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NhanVien.MaNhanVien)
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy}", @item.ThangKiLuat)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LyDo)
                </td>
                <td>
                    @string.Format("{0:#,#}", @item.TienKyLuat).Replace(",", ",")

                </td>
                <td>
                    <a class="btn btn-danger" href="@Url.Action("xoaKyLuat", "KyLuat", new { @id = @item.MaNhanVien })"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>